{% extends 'index.html' %}
{% load static %}

<!-- put main code here -->
{% block content %}

<section class="section is-full-fullhd">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-6">
                <article class="tile is-child notification is-success">
                    <p class="is-size-1-fullhd">CachyPooh</p>
                    <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque nibh nisl, mollis at gravida et, vulputate in
                    urna. Sed molestie diam in sapien suscipit accumsan. Sed in nisl sit amet sem maximus facilisis nec sed mi. Nunc
                    pellentesque libero ut nibh vulputate, eu pharetra justo luctus. Orci varius natoque penatibus et magnis dis parturient
                    montes, nascetur ridiculus mus. Curabitur vulputate accumsan urna vel porta. Sed malesuada orci magna, eget commodo nisl
                    convallis ut. Donec blandit erat suscipit placerat mollis. Fusce ultrices ante sed dui efficitur, in sollicitudin ligula
                    ullamcorper. Nunc est velit, suscipit lobortis arcu quis, mattis ultrices mi. Suspendisse potenti.</p>
                </article>
            </div>
            <div class="tile">
                <img src="static/img/home_astronaut.svg" alt="Kiwi standing on oval">
            </div>
        </div>
    </div>
</section>

<div class="container is-fluid">
    <div class="columns is-one-third">
        <div class="column">
            <button class="button is-large is-fullwidth is-danger">YouTube</button>
        </div>
        <div class="column">
            <button class="button is-large is-fullwidth is-primary">Large</button>
        </div>
        <div class="column">
            <button class="button is-large is-fullwidth is-primary">Large</button>
        </div>
        <div class="column">
            <button class="button is-large is-fullwidth is-primary">Large</button>
        </div>
    </div>
</div>

{% endblock %}