{% extends 'index.html' %}
{% load static %}

<!-- put main code here -->
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}" />

<!-- top -->
<section class="section">
    <div class="container">
        <div class="tile is-ancestor">
            <div class="tile is-4">
                <article class="tile is-child ">
                    <p class="is-size-1-fullhd has-text-weight-bold	">CachyPooh</p>
                    <p class="is-size-4-fullhd has-text-weight-semibold	">
                        Explore through the latest trends in
                        <a href="https://www.youtube.com">
                            YouTube,
                        </a>                        
                        <a href="https://www.twitter.com">
                            Twitter,
                        </a>
                        <a href="https://www.facebook.com">
                            Facebook,
                        </a>
                        <br>
                        &lt;insert any name&gt; <i class="far fa-smile-wink"></i>
                    </p>
                </article>
            </div>
            <div class="tile">
                <img src="static/img/home_astronaut.svg" alt="Kiwi standing on oval">
            </div>
        </div>
    </div>
</section>

<!-- middle -->
<div class="container is-fluid">
    <div class="columns is-one-third">
        <div class="column">
            <a href="{% url 'media' 'youtube' %}"><button class="button is-large is-fullwidth is-danger">YouTube</button></a>
        </div>
        <div class="column">
            <a href="{% url 'media' 'twitter' %}"><button class="button is-large is-fullwidth is-info">Twitter</button></a>
        </div>
        <div class="column">
            <a href="{% url 'media' 'facebook' %}"><button class="button is-large is-fullwidth is-link">Facebook</button></a>
        </div>
    </div>
</div>
<br>

<nav class="level is-mobile">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Videos</p>
            <p class="title">12398</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Tweets</p>
            <p class="title">12354233</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Facebook Posts</p>
            <p class="title">23256234</p>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">More Statistics</p>
            <p class="title">5678765</p>
        </div>
    </div>
</nav>

<!-- bottom -->
<section class="section" id="contributors">
    <div class="container is-max-desktop">
        <div class="tile is-ancestor">
            <!-- vincent -->
            <div class="tile is-half">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="static/img/vincent.jpeg" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered	">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Vincent Chen</p>
                            </div>
                        </div>
                        <div class="content">
                            <strong>Backend Developer</strong>
                            <br>
                            <a href="http://github.com/vincentqchen">@vincentqchen</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tile is-half">
                <div class="card">
                    <div class="card-image">
                        <figure class="image">
                            <img src="static/img/nishant.jpg"
                                alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content has-text-centered	">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4">Nishant Srivastava</p>
                            </div>
                        </div>
                        <div class="content">
                            <strong>Frontend Developer</strong>
                            <br>
                            <a href="http://github.com/nishi7409">@nishi7409</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}