{% extends 'index.html' %}
{% load static %}

<!-- put main code here -->
{% block content %}

<script type="text/javascript" src="{% static '/scripts/videos.js' %}"></script>

<br>
<div class="container">
    <div class="columns">
        <div class="column is-9">
            <div class="columns">
                <div class="column">
                    <div class="card-table">
                        <div class="container">
                            <div class="card is-active is-size-4-fullhd has-text-justified has-text-left-fullhd is-light">
                                <div class="container.is-max-desktop">
                                    <figure class="image is-16by9">
                                        <iframe class="has-ratio" src="{{ embed }}" allowfullscreen></iframe>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-table">
                        <div class="container">
                            <div class="card is-fullwidth">
                                <header class="card-header">
                                    <a class="card-header-title" href="{{ video.url }}">
                                        {{ video.title }}
                                    </a>
                                    <a class="card-header-icon card-toggle">
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </header>
                                <div class="card-content is-hidden">
                                    <div class="content">
                                        {{ video.desc }}
                                        <!-- {{ videos.description }} -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-table">
                        <div class="container">
                            <div class="card is-fullwidth">
                                <header class="card-header">
                                    <a class="card-header-title">
                                        Video Statistics
                                    </a>
                                    <a class="card-header-icon card-toggle">
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </header>
                                <div class="card-content is-hidden">
                                    Stuff... I'll make this look nice later.
                                    <br>
                                    Length - {{ video.length }}
                                    <br>
                                    Views - {{ video.views}}
                                    <br>
                                    Date - {{ video.date}}
                                    <br>
                                    ytType - {{ video.ytType}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-2 ">
            <aside class="menu is-hidden-mobile">
                <p class="menu-label">
                    Trendy Videos
                </p>
                <ul class="menu-list">
                    {% for vid in videos %}
                    <li><a class="is-active" href="">{{ vid.title }}</a></li><br>
                    {% endfor %}
                </ul>
            </aside>
        </div>
    </div>
</div>

{% endblock %}