{% extends 'index.html' %}
{% load static %}

<!-- put main code here -->
{% block content %}

<script type="text/javascript" src="{% static '/scripts/media.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />

<section class="hero is-danger">
    <div class="hero-body">
        <div class="container is-size-1-fullhd has-text-centered">
            <h1 class="title">
                YouTube Categories
            </h1>
            <h2 class="subtitle">
                There are # categories available for this platform
            </h2>
        </div>
    </div>
</section>
<br>
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://i.pinimg.com/originals/ab/45/bb/ab45bb4451536652faca51ae4f42d5dd.gif">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content has-text-centered is-size-4">
                        <a href="{% url 'finalView' media='youtube' category='music' vid_id='asdfklja'%}">Music</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://pa1.narvii.com/5939/1adf4c578ad4a01042d746649cd11fd0bc677633_hq.gif">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content has-text-centered is-size-4">
                            <ul>
                                <li> {{ gamingVids.0.vidID }} </li>
                            </ul>
                        <a href="{% url 'finalView' media='youtube' category='gamingVids' vid_id='{{ gamingVids.0.vidID }}'%}">Gaming</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}