{% extends 'index.html' %}
{% load static %}

<!-- put main code here -->
{% block content %}

<script type="text/javascript" src="{% static '/scripts/media.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}" />

<section class="hero is-danger">
    <div class="hero-body">
        <div class="container is-size-1-fullhd has-text-centered">
            <h1 class="title">
                YouTube Categories
            </h1>
            <h2 class="subtitle">
                There are # categories available for this platform
            </h2>
        </div>
    </div>
</section>
<br>
<div class="container">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <a href="{% url 'finalView' media='youtube' category='gaming' vid_id=gamingVids.0.vidID %}">
                            <img src="https://i.pinimg.com/originals/75/72/c9/7572c9246c16cd21e0b126a4e989de9a.gif">
                        </a>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content has-text-centered is-size-4">
                        <a href="{% url 'finalView' media='youtube' category='gaming' vid_id=gamingVids.0.vidID %}">Gaming</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <a href="{% url 'finalView' media='youtube' category='sport' vid_id=sportVids.0.vidID %}">
                            <img src="https://cdn.dribbble.com/users/1161944/screenshots/10945992/media/4d87f6f942403ccd30343217fbb71c2b.gif">
                        </a>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content has-text-centered is-size-4">
                        <a href="{% url 'finalView' media='youtube' category='sport' vid_id=sportVids.0.vidID %}">Sports</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <a href="{% url 'finalView' media='youtube' category='music' vid_id=musicVids.0.vidID %}">
                            <img src="https://i.pinimg.com/originals/ab/45/bb/ab45bb4451536652faca51ae4f42d5dd.gif">
                        </a>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content has-text-centered is-size-4">
                        <a href="{% url 'finalView' media='youtube' category='music' vid_id=musicVids.0.vidID %}">Music</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}